body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.topo {
    width: 500px;
    height: 200px;
    background-color: #D3D3D3;
    border-radius: 20px;
    margin: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.base h1 {
    font-size: 20px;
}
.botoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    background-color: aqua;
    font-size: 10px;
}
.display {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    background-color: black;
}
.mais {
    grid-column: 5 / 6;
    grid-row: 6 / 8;
}
.menos {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
}
.igual {
    grid-column: 4 / 5;
    grid-row: 7 / 8;
}
.vezes {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
}
.divisao {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}
.b1 {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
.b3 {
    grid-column: 4 / 5;
}
.b6 {
    grid-column: 4 / 5;
}
.b9 {
    grid-column: 4 / 5;
}